.app {
  // show
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas: 'nav nav nav' 'container container container' 'footer footer footer';
}
