.Home {
  display: grid;
  grid-template-columns: repeat(6, 4fr);
  grid-template-rows: repeat(5, 4fr);
  grid-template-areas: ". . . . . ." ". . . . . ." ". . word word . ." ". . . . . ." ". . . . . .";
  h1 {
    grid-area: word;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
